body {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
    color: #000;
    background: #E0E0E0 url("/images/background.png") repeat top left;
}

.color-highlight {
    color: #040;
}

.highlight { /* syntax highlighter */
    background: #f2f2f2;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding-left: 16px;
    line-height: 1.35em;
    font-size: 13px;
}

.description {
    font-size: 12px;
}

.index-header {
    padding-top: 15px;
    text-align: center;
}

pre {
    white-space: pre-wrap;
}

code {
    background: #f2f2f2;
    border: 1px solid #e8e8e8;
}

div.project {
    border: 1px solid #CCC;
    border-radius: 5px;
}

div.project-head {
    padding: 3px 12px 6px 12px;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0px 0px;

    /* all I want is a simple background gradient without images! */
    background: #E0E0E0; /* fallback (your browser is crap) */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3E3E3), to(#CACACA)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #E3E3E3, #CACACA); /* Chrome 10+, Safari 5+ */
    background: -moz-linear-gradient(top, #E3E3E3, #CACACA); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #E3E3E3, #CACACA); /* IE 10+ (lol) */
    background: -o-linear-gradient(top, #E3E3E3, #CACACA); /* Opera 11.10+ */
    background: linear-gradient(top, #E3E3E3, #CACACA); /* God-tier */
}

div.project-body {
    padding: 6px 12px 9px 12px;
    border-radius: 0px 0px 5px 5px;

    background: #F4F4F4;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9), to(#EFEFEF));
    background: -webkit-linear-gradient(top, #F9F9F9, #EFEFEF);
    background: -moz-linear-gradient(top, #F9F9F9, #EFEFEF);
    background: -ms-linear-gradient(top, #F9F9F9, #EFEFEF);
    background: -o-linear-gradient(top, #F9F9F9, #EFEFEF);
    background: linear-gradient(top, #F9F9F9, #EFEFEF); */
}

div.divider {
    border-bottom: 1px solid #AAA;
    margin-top: 15px;
    margin-bottom: 15px;
}

td.about-l {
    padding: 4px 12px 4px 12px;
    border-left: 1px solid #CCC;
}

td.about-r {
    padding: 4px 12px 4px 12px;
    border-right: 1px solid #CCC;
}

li.post {
    margin-bottom: 20px;
}

td.light-l { background-color: #ECECEC; }
td.dark-l { background-color: #DADADA; }
td.light-r { background-color: #F7F7F7; }
td.dark-r { background-color: #E5E5E5; }

p#about-me-top {
    margin-top: 0px;
}

h1#head {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}

div#everything {
    max-width: 800px;
    margin: auto;
    padding: 0 40px 0 40px;
}

div#container {
    margin: 20px auto 32px auto;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #FFF;
}

div#header {
    margin: 16px 16px 20px 16px;
    padding: 35px 0px 35px 0px;
    border: 1px solid #999;
    border-radius: 10px 10px 0px 0px;

    /* see div.project-head for details */
    background: #DDEEDD;
    background: -webkit-gradient(linear, left top, left bottom, from(#E4F1E4), to(#B1BEB1));
    background: -webkit-linear-gradient(top, #E4F1E4, #B1BEB1);
    background: -moz-linear-gradient(top, #E4F1E4, #B1BEB1);
    background: -ms-linear-gradient(top, #E4F1E4, #B1BEB1);
    background: -o-linear-gradient(top, #E4F1E4, #B1BEB1);
    background: linear-gradient(top, #E4F1E4, #B1BEB1);
}

div#content {
    padding: 2px 15px 2px 15px;
}

div#footer {
    font-size: 11px;
    text-align: center;
    padding: 9px 4px 12px 4px;
    color: #222;
}

div#post-info {
    margin-left: 24px;
}

div#post {
    line-height: 1.5em;
}

div#avatar-box {
    float: right;
    position: relative;
    left: 50px;
    margin-left: -40px;
    padding: 12px;
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 5px;

    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
}

div#follow-button-box {
    float: right;
}

ul#post-list {
    padding-left: 1em;
}

img#forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

img#avatar {
    border-radius: 5px;
}

table#about {
    width: 100%;
}

td#left-box {
    width: 50%;
    vertical-align: top;
}

td#right-box {
    padding-left: 25px;
    vertical-align: top;
}

td#about-tl { border-top-left-radius: 5px; border-top: 1px solid #AAA; }
td#about-tr { border-top-right-radius: 5px; border-top: 1px solid #AAA; }
td#about-bl { border-bottom-left-radius: 5px; border-bottom: 1px solid #AAA; }
td#about-br { border-bottom-right-radius: 5px; border-bottom: 1px solid #AAA; }

a:link { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover { color: #040; text-decoration: underline; }
a:active { color: #404; text-decoration: underline; }

a.invert:link { text-decoration: underline; }
a.invert:visited { text-decoration: underline; }
a.invert:hover { text-decoration: none; }
a.invert:active { text-decoration: none; }

a.incognito:link { color: #000; text-decoration: none; }
a.incognito:visited { color: #000; text-decoration: none; }
a.incognito:hover { color: #000; text-decoration: underline; }
a.incognito:active { color: #000; text-decoration: none; }
