body {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #E0E0E0;
}

.color-highlight {
    color: #040;
}

.highlight { /* syntax highlighter */
    background: #f2f2f2;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding-left: 16px;
    line-height: 1.35em;
    font-size: 13px;
}

.description {
    font-size: 12px;
}

h1, h2 {
    text-align: center;
}

pre {
    white-space: pre-wrap;
}

div.project {
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #F4F4F4;
}

div.project-head {
    padding: 3px 12px 6px 12px;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0px 0px;
    background-color: #E0E0E0;
}

div.project-body {
    padding: 6px 12px 9px 12px;
}

td.about-l {
    padding: 4px 12px 4px 12px;
    border-left: 1px solid #CCC;
}

td.about-r {
    padding: 4px 12px 4px 12px;
    border-right: 1px solid #CCC;
}

li.post {
    margin-bottom: 20px;
}

td.light-l { background-color: #ECECEC; }
td.dark-l { background-color: #DADADA; }
td.light-r { background-color: #F7F7F7; }
td.dark-r { background-color: #E5E5E5; }

h1#head {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2#posts {
    margin-top: 0px;
    padding-top: 0px;
}

div#container {
    width: 800px;
    margin: 20px auto 32px auto;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #FFF;
}

div#header {
    margin: 16px 16px 20px 16px;
    padding: 30px 0px 30px 0px;
    border: 1px solid #999;
    border-radius: 10px 10px 0px 0px;
    background-color: #DED;
}

div#content {
    padding: 2px 15px 2px 15px;
}

div#footer {
    font-size: 11px;
    text-align: center;
    padding: 9px 4px 12px 4px;
    color: #222;
}

div#post-info {
    margin-left: 24px;
}

div#post {
    line-height: 1.5em;
}

td#left-box {
    width: 50%;
    vertical-align: top;
}

td#right-box {
    padding-left: 25px;
    vertical-align: top;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
}

td#about-tl { border-top-left-radius: 5px; border-top: 1px solid #AAA; }
td#about-tr { border-top-right-radius: 5px; border-top: 1px solid #AAA; }
td#about-bl { border-bottom-left-radius: 5px; border-bottom: 1px solid #AAA; }
td#about-br { border-bottom-right-radius: 5px; border-bottom: 1px solid #AAA; }

a:link { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover { color: #040; text-decoration: underline; }
a:active { color: #404; text-decoration: underline; }

a.invert:link { text-decoration: underline; }
a.invert:visited { text-decoration: underline; }
a.invert:hover { text-decoration: none; }
a.invert:active { text-decoration: none; }

a.incognito:link { color: #000; text-decoration: none; }
a.incognito:visited { color: #000; text-decoration: none; }
a.incognito:hover { color: #000; text-decoration: underline; }
a.incognito:active { color: #000; text-decoration: none; }
