body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: sans-serif;                                                        /* TODO */
    font-size: 16px;
}

a:link, a:visited { color: #3d7751; text-decoration: none; }
a:hover { color: #041; text-decoration: underline; }
a:active { color: #403; text-decoration: underline; }

a.underlined:link, a.underlined:visited { text-decoration: underline; }
a.underlined:hover, a.underlined:active { text-decoration: none; }

#banner {
    background-color: black;
    text-align: center;
}

#banner a {
    color: white;
    text-decoration: none;
}

#banner img {
    display: inline;
    padding: 2px 0.5em 0 0;
    vertical-align: top;
}

#banner h1 {
    display: inline;
    font-family: sans-serif;                                                        /* TODO */
    text-align: center;
}

.banner-large {
    height: 94px;
    line-height: 94px;
    border-top: 6px solid #3d7751;
}

.banner-large img {
    height: 92px;
}

.banner-large h1 {
    font-size: 2.5em;
}

.banner-small {
    height: 66px;
    line-height: 66px;
    border-top: 4px solid #3d7751;
}

.banner-small img {
    height: 64px;
}

.banner-small h1 {
    font-size: 2em;
}

#container {
    margin: 1.5em auto 0;
    max-width: 1000px;
    padding: 0 40px 0 40px;
}

#container p {
    line-height: 1.25em;
}

#content p, #content ol, #content li {
    line-height: 1.75em;
}

#links {
    width: 100%;
    text-align: center;
    border-spacing: 0;
}

#links td {
    width: 16.666666666667%;
}

#links td:not(:first-child) {
    border-left: 1px solid #CCC;
}

#work {
    width: 100%;
    border-spacing: 0;
}

#work td {
    width: 50%;
    vertical-align: top;
}

#work td:not(:first-child) {
    padding-left: 0.5em;
}

#work td:not(:last-child) {
    padding-right: 0.5em;
}

.project {
    margin-bottom: 1.25em;
}

.project div:nth-child(2) {
    font-size: 14px;
}

#project-list, #post-list {
    padding-left: 1em;
}

#project-list li, #post-list li {
    margin-bottom: 1.25em;
}

.subtitle {
    font-size: 14px;
}

.tag {
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8;
    color: #888;
    cursor: pointer;
    padding: 0 3px;
}

.tag-selected {
    background-color: #ddd;
    color: black;
}

#post-info {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#post-info li {
    line-height: 1em;
    margin-bottom: 0.5em;
}

#post-info li:last-child {
    margin-bottom: 0;
}

#post-info span {
    color: #777;
}

pre {
    white-space: pre-wrap;
}

code {
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8;
    padding: 0 3px;
}

pre code {
    border: 0;
    padding: 0;
}

.highlight, .highlighttable {
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    line-height: 1.35em;
    padding-left: 16px;
}

.highlighttable {
    width: 100%;
}

.highlighttable .highlight {
    border: 0;
}

.linenos {
    color: #888;
}

.para-link {
    margin-left: 0.5em;
    padding: 0 0.25em 0 0.3em;
}

.para-link:link, .para-link:visited {
    color: #A00;
    text-decoration: none;
}

.para-link:hover, .para-link:active {
    background-color: #A00;
    color: white;
}

#footer {
    color: #444;
    font-size: 85%;
    text-align: center;
}
