<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - Earwig</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" /> <!-- shamelessly stolen from https://github.com/mojombo/tpw/blob/master/css/syntax.css -->
        <script src="/js/date_format.js" type="text/javascript"></script>
    </head>
    <body onload="load_tweets();">
        <div id="forkme-box">
            <a href="http://github.com/earwig">
                <img id="forkme" src="/images/forkme.png" title="Fork me on GitHub" alt="Fork me on GitHub" />
            </a>
        </div>
        <div id="everything">
            <div id="container">
                {{ content }}
                <div id="footer">
                    <p>Copyright &copy; 2011&ndash;2014 Ben Kurtovic &bull; <a href="http://github.com/earwig/earwig.github.com">View Source</a> &bull; <a href="http://validator.w3.org/check?uri=referer">Valid HTML5</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
