<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title != "Home" %}{{ page.title }} &ndash; {% endif %}Ben Kurtovic</title>
        <meta name="description" content="{% if page.title == 'Home' %}Ben Kurtovic's personal projects and a short blog on software{% else %}{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %} &#124; Ben Kurtovic's blog{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/static/favicon.png" />
        <link rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="/static/syntax.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Ben Kurtovic" />
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML" integrity="sha256-fCth3p2B4cZMzlr7OFizmo5RkdJAHJ4vOHpE7FaNcR8=" crossorigin="anonymous"></script>
        <script src="/static/main.js"></script>
    </head>
    <body>
        <div id="banner">
            <a href="/">
                <img src="/static/avatar.png" title="Ben Kurtovic" alt="Earwig" />
                <h1>Ben Kurtovic</h1>
            </a>
        </div>
        <div id="container">
            {{ content }}
            <div id="footer">
                <p>Copyright &copy; 2011&ndash;{{ site.time | date: "%Y" }} Ben&nbsp;Kurtovic &bull; <a href="https://github.com/earwig/benkurtovic.com">View&nbsp;Source</a> &bull; <a href="https://validator.w3.org/check?uri=referer">Valid&nbsp;HTML5</a></p>
            </div>
        </div>
    </body>
</html>
