<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title != "Home" %}{{ page.title }} - {% endif %}Ben Kurtovic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/static/favicon.png" />
        <link rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="/static/syntax.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="/static/main.js"></script>
    </head>
    <body>
        <div id="banner">
            <a href="/">
                <img src="/static/avatar.png" />
                <h1>Ben Kurtovic</h1>
            </a>
        </div>
        <div id="container">
            {{ content }}
            <div id="footer">
                <p>Copyright &copy; 2011&ndash;{{ site.time | date: "%Y" }} Ben&nbsp;Kurtovic &bull; <a href="//github.com/earwig/earwig.github.io">View&nbsp;Source</a> &bull; <a href="http://validator.w3.org/check?uri=referer">Valid&nbsp;HTML5</a></p>
            </div>
        </div>
    </body>
</html>
