---
layout: base
---

<div id="header">
    <h1 id="header">Hi, I'm <span class="color-highlight">Earwig</span>!</h1>
</div>
<div id="content">
    <table>
        <tr>
            <td id="left-box">
                <table>
                    <tr>
                        <td id="about-tl" class="about-l dark-l">Name</td>
                        <td id="about-tr" class="about-r dark-r">Ben Kurtovic</td>
                    </tr>
                    <tr>
                        <td class="about-l light-l">Email</td>
                        <td class="about-r light-r"><a href="mailto:ben.kurtovic@verizon.net">ben.kurtovic@verizon.net</a></td>
                    </tr>
                    <tr>
                        <td class="about-l dark-l">IRC</td>
                        <td class="about-r dark-r"><a href="irc://irc.freenode.net/##earwig">Earwig</a> on <a href="irc://irc.freenode.net">irc.freenode.net</a></td>
                    </tr>
                    <tr>
                        <td class="about-l light-l">PGP Key</td>
                        <td class="about-r light-r"><a href="http://pgp.mit.edu:11371/pks/lookup?search=0x8A19649AE8DBB515&amp;fingerprint=on&amp;op=index">E8DBB515</a></td>
                    </tr>
                    <tr>
                        <td class="about-l dark-l">GitHub</td>
                        <td class="about-r dark-r"><a href="http://github.com/earwig">earwig</a></td>
                    </tr>
                    <tr>
                        <td class="about-l light-l">Wikipedia</td>
                        <td class="about-r light-r"><a href="http://en.wikipedia.org/wiki/User:The_Earwig">[[User:The Earwig]]</a></td>
                    </tr>
                    <tr>
                        <td class="about-l dark-l">Toolserver</td>
                        <td class="about-r dark-r"><a href="http://toolserver.org/~earwig">~earwig</a></td>
                    </tr>
                    <tr>
                        <td class="about-l light-l">Launchpad</td>
                        <td class="about-r light-r"><a href="https://launchpad.net/~benkurtovic">~benkurtovic</a></td>
                    </tr>
                    <tr>
                        <td id="about-bl" class="about-l dark-l">Twitter</td>
                        <td id="about-br" class="about-r dark-r"><a href="http://twitter.com/the_earwig">@the_earwig</a></td>
                    </tr>
                </table>
                <h2>Projects</h2>
                {{ content }}
            </td>
            <td id="right-box">
                <h2 id="posts">Posts</h2>
                <ul>
                    {% for post in site.posts %}
                        <li class="post">{{ post.date | date: "%b %d, %Y" }}: <a class="invert" href="{{ post.url }}">{{ post.title }}</a><br /><span class="description">{{ post.description }}</span></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</div>
