---
layout: base
---

<div id="header">
    <h1 id="head">Hi, I'm <span class="color-highlight">Earwig</span>!</h1>
</div>
<div id="content">
    <table>
        <tr>
            <td id="left-box">
                <table id="about">
                    <tr>
                        <td id="about-tl" class="about-l dark-l">Email</td>
                        <td id="about-tr" class="about-r dark-r"><a href="mailto:ben.kurtovic@verizon.net">ben.kurtovic@verizon.net</a></td>
                    </tr>
                    <tr>
                        <td class="about-l light-l">IRC</td>
                        <td class="about-r light-r"><a href="irc://irc.freenode.net/&#35;&#35;earwig">Earwig</a> on <a href="irc://irc.freenode.net">irc.freenode.net</a></td>
                    </tr>
                    <tr>
                        <td class="about-l dark-l">PGP Key</td>
                        <td class="about-r dark-r"><a href="http://pgp.mit.edu:11371/pks/lookup?search=0x8A19649AE8DBB515&amp;fingerprint=on&amp;op=index">E8DBB515</a></td>
                    </tr>
                    <tr>
                        <td class="about-l light-l">Wikipedia</td>
                        <td class="about-r light-r"><a href="http://en.wikipedia.org/wiki/User:The_Earwig">[[User:The Earwig]]</a></td>
                    </tr>
                    <tr>
                        <td class="about-l dark-l">Toolserver</td>
                        <td class="about-r dark-r"><a href="http://toolserver.org/~earwig">~earwig</a></td>
                    </tr>
                    <tr>
                        <td class="about-l light-l">GitHub</td>
                        <td class="about-r light-r"><a href="http://github.com/earwig">earwig</a></td>
                    </tr>
                    <tr>
                        <td class="about-l dark-l">BitBucket</td>
                        <td class="about-r dark-r"><a href="https://bitbucket.org/earwig">earwig</a></td>
                    </tr>
                    <tr>
                        <td class="about-l light-l">Twitter</td>
                        <td class="about-r light-r"><a href="http://twitter.com/the_earwig">@the_earwig</a></td>
                    </tr>
                    <tr>
                        <td id="about-bl" class="about-l dark-l">Tumblr</td>
                        <td id="about-br" class="about-r dark-r"><a href="http://theearwig.tumblr.com/">theearwig</a></td>
                    </tr>
                </table>
                <h2 class="index-header">Projects</h2>
                {{ content }}
            </td>

            <td id="right-box">
                <div id="avatar-box">
                    <img id="avatar" src="https://secure.gravatar.com/avatar/1b21804852ac50fee9f8e03cfa0da786?s=140" title="Earwig" alt="Earwig" />
                </div>
                <p id="about-me-top">I'm Ben Kurtovic, a student, software developer, and <a href="http://en.wikipedia.org/">Wikipedian</a> who occasionally messes around with game production. I'm the guy behind <a href="http://en.wikipedia.org/wiki/User:EarwigBot">EarwigBot</a>. I love <a href="http://en.wikipedia.org/wiki/My_Little_Pony%3A_Friendship_Is_Magic">ponies</a>!</p>
                <p>On this page, you can find my identities on a few other sites, check out the projects I'm working on, and read some of my incessant ramblings in blog form.</p>
                <h2 class="index-header">Tweets</h2>
                <ul id="tweets">
                    <li><a href="http://twitter.com/the_earwig">More...</a></li>
                </ul>
                <h2 class="index-header">Posts</h2>
                <ul>
                    {% for post in site.posts %}
                        <li class="post">{{ post.date | date: "%b %d, %Y" }}: <a class="invert" href="{{ post.url }}">{{ post.title }}</a><br /><span class="description">{{ post.description }} (<a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}"></a>)</span></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var disqus_shortname = 'earwig';
    var disqus_title = '{{ page.title }}';
    var disqus_url = 'http://earwig.github.com{{ page.url }}';
    var disqus_developer = 1;
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    }());
</script>
